<html ng-app="tsApp">
<head>
<meta http-equiv="Content-Language" content="en" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Terminology Server Demonstration Portal</title>
<style type="text/css" media="all"></style>



<!-- Bootstrap core CSS  -->
<link href="ui/components/bootstrap/dist/css/bootstrap.css"
	rel="stylesheet">

<!-- Angular core  -->
<script type="text/javascript" src="./ui/components/angular/angular.js"></script>

<!-- Angular/Boostrap UI Components -->
<script type="text/javascript"
	src="ui/components/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript"
	src="ui/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>


<!-- Terminology server Angular application -->
<script src="ui/js/app.js"></script>
<link href="ui/css/tsApp.css" rel="stylesheet">
</head>
<body>

	<div ng-controller="tsIndexCtrl">

		<!--  Javascript detection -->
		<noscript>
			<style type="text/css">
.container {
	display: none;
}
</style>
			<div class="alert alert-danger">You must have Javascript
				enabled to use the Terminology Server Demo</div>
		</noscript>

		<div style="margin-bottom: 15px;">

			<h3>Terminology Server Demo</h3>
			<em>Presented by West Coast Informatics</em>
			<hr>
		</div>

		<div class="ts-container">

			<!-- Error Messages -->
			<div id="errorMsg" class="border-error alert-error"
				ng-show="error.length > 0">
				<h4 class="alert alert-danger alert-error">
					{{error}}
					<div style="display: inline; float: right; width: 3%;">
						<i class="glyphicon glyphicon-remove" ng-click="clearError()"></i>
					</div>
				</h4>
			</div>

			<!-- Login form -->
			<div ng-show="authToken == null">
				<div>
					<div class="panel">
						<strong>Enter User and Password</strong><br>
						<form>
							<input style="margin-top: 5px;" id="userField"
								ng-model="userName" type="text" placeholder="Username" /><br>
							<input style="margin-top: 5px;" id="passwordField"
								type="password" placeholder="Password" ng-model="password" /><br>
							<button style="margin-top: 10px;" id="userLoginButton"
								type="submit" ng-click="login(userName, password)">Login</button>
						</form>
					</div>
					<div class="panel" style="padding: 40px">
						<strong>or</strong>
					</div>
					<div class="panel">
						<strong>Access Server as Guest</strong><br>
						<button style="margin-top: 10px;" type="submit"
							id="guestLoginButton" ng-click="login('guest', 'guest')">Guest
							Login</button>
					</div>

				</div>

			</div>

			<!-- Content displayed after log in -->
			<div ng-show="authToken != null">

				<table class="table">

					<tr>
						<td>Select terminology</td>
						<td><select ng-model="terminology"
							ng-options="terminology as terminology.name + ', ' + terminology.version
					for terminology in terminologies"></select>
						</td>
					<tr>
						<td style="width: 15%;">Enter search terms</td>
						<td><form>
								<input ng-model="conceptQuery">
								<button class="btn btn-small btn-primary" type="submit"
									ng-click="findConcepts(terminology, conceptQuery)">Search</button>
								<button class="btn btn-small btn-warning" type="cancel"
									ng-click="conceptQuery = null">Clear</button>
								<br>
							</form></td>
					</tr>
				</table>



				<!--  Side-by-side table and concept display -->
				<div class="container-fluid"">

					<div class="row">
						<div class="col-md-4">

							<div class="alert alert-success"
								ng-show="searchResults.length > 0">
								{{searchResults.length}} Results (Click a row for details)</div>


							<div class="alert alert-danger"
								ng-show="searchResults.length == 0">Search returned no
								results.</div>

							<table class="table table-hover"
								ng-show="searchResults.length > 0">

								<tbody>
									<tr
										ng-repeat="
								searchResult in
								searchResults | orderBy:'terminologyId'"
										ng-class="searchResult.rowClass"
								ng-click="getConcept(terminology.name, terminology.version, searchResult.terminologyId)">
								<td>{{searchResult.terminologyId}}</a></td>
								<td>{{searchResult.value}}</td>
								</tbody>
							</table>
						</div>
						<div class="col-md-8">

							<accordion close-others="false" ng-show="concept != null">
							<accordion-group heading="Concept Details" is-open="true">
							<table class="table table-condensed">
								<thead>
									<th style="width: 20%">Field</th>
									<th style="width: 80%">Value</th>
								</thead>
								<tr>
									<td>Id</td>
									<td>{{concept.terminologyId}}</td>
								</tr>
								<tr>
									<td>Name</td>
									<td>{{concept.defaultPreferredName}}</td>
								</tr>
								<tr>
									<td>Flags</td>
									<td><span
										class="label {{concept.active ? 'label-success' : 'label-danger'}}">{{concept.active
											== true ? "Active" : "Inactive"}}</span> <span
										class="label {{concept.published ? 'label-success' : 'label-danger'}}">{{concept.published
											== true ? "Published" : "Unpublished"}}</span></td>
								</tr>
								<tr>
									<td>Effective Time</td>
									<td>{{concept.effectiveTime | date: 'MM/dd/yyyy'}}</td>
								</tr>
								<tr>
									<td>Last Modified</td>
									<td>{{concept.lastModified | date: 'MM/dd/yyyy'}} by <span
										class="label label-info">{{concept.lastModifiedBy}}</span>
									</td>
								</tr>
								<tr>
									<td>Module Id</td>
									<td>{{concept.moduleId}}</td>
								</tr>
								<tr ng-show="concept.label != null">
									<td>Labels</td>
									<td><span class="label label-info"
										ng-repeat="label in concept.label">{{label}}</span></td>
								</tr>
							</table>
							</accordion-group> <accordion-group
								heading="Descriptions ({{concept.descriptionCount}})"
								is-open="true"> <tabset> <tab
								ng-repeat="description in concept.description | orderBy:'terminologyId'"
								heading="{{description.terminologyId}}">

							<table class="table table-condensed">
								<thead>
									<th style="width: 20%">Field</th>
									<th style="width: 80%">Value</th>
								</thead>
								<tr>
									<td>Id</td>
									<td>{{description.terminologyId}}</td>
								</tr>
								<tr>
									<td>Term</td>
									<td>{{description.term}}</td>
								</tr>
								<tr>
									<td>Flags</td>
									<td><span
										class="label {{description.active ? 'label-success' : 'label-danger'}}">{{description.active
											== true ? "Active" : "Inactive"}}</span> <span
										class="label {{description.published ? 'label-success' : 'label-danger'}}">{{description.published
											== true ? "Published" : "Unpublished"}}</span></td>
								</tr>
								<tr>
									<td>Effective Time</td>
									<td>{{description.effectiveTime | date: 'MM/dd/yyyy'}}</td>
								</tr>
								<tr>
									<td>Last Modified</td>
									<td>{{description.lastModified | date: 'MM/dd/yyyy'}} by <span
										class="label label-info">{{description.lastModifiedBy}}</span>
									</td>
								</tr>
								<tr>
									<td>Case Significance Id</td>
									<td>{{description.caseSignificanceId}}</td>
								</tr>
								<tr ng-show="description.label != null">
									<td>Labels</td>
									<td><span class="label label-info"
										ng-repeat="label in description.label">{{label}}</span></td>
								</tr>
							</table>
							</tab></tabset></accordion-group> <accordion-group
								heading="Relationships ({{concept.relationshipCount}})"
								is-open="true"> <tabset> <tab
								ng-repeat="relationship in concept.relationship"
								heading="{{relationship.terminologyId}}">

							<table class="table table-condensed">
								<thead>
									<th style="width: 20%">Field</th>
									<th style="width: 80%">Value</th>
								</thead>
								<tr>
									<td>Id</td>
									<td>{{relationship.terminologyId}}</td>
								</tr>
								<tr>
									<td>Links to</td>
									<td>{{relationship.destinationTerminologyId}},
										{{relationship.destinationPreferredName}}</td>
								<tr>
									<td>Flags</td>
									<td><span
										class="label {{relationship.active ? 'label-success' : 'label-danger'}}">{{relationship.active
											== true ? "Active" : "Inactive"}}</span> <span
										class="label {{relationship.published ? 'label-success' : 'label-danger'}}">{{relationship.published
											== true ? "Published" : "Unpublished"}}</span></td>
								</tr>
								<tr>
									<td>Effective Time</td>
									<td>{{relationship.effectiveTime | date: 'MM/dd/yyyy'}}</td>
								</tr>
								<tr>
									<td>Last Modified</td>
									<td>{{relationship.lastModified | date: 'MM/dd/yyyy'}} by
										<span class="label label-info">{{relationship.lastModifiedBy}}</span>
									</td>
								</tr>
								<tr>
									<td>Characteristic Type Id</td>
									<td>{{relationship.characteristicTypeId}}</td>
								</tr>
								<tr>
									<td>Modifier Id</td>
									<td>{{relationship.modifierId}}</td>
								</tr>
								<tr>
									<td>Module Id</td>
									<td>{{relationship.moduleId}}</td>
								</tr>

								<tr>
									<td>TypeId</td>
									<td>{{relationship.typeId}}</td>
								</tr>
								<tr>
								<tr ng-show="relationship.label != null">
									<td>Labels</td>
									<td><span class="label label-info"
										ng-repeat="label in relationship.label">{{label}}</span></td>
								</tr>
							</table>
							</tab></tabset> </accordion-group> <accordion-group heading="Children ({{concept.childCount}})"
								is-open="true"> </accordion-group>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Glass Pane -->
		<div ng-show="glassPane > 0" class="top-layer"></div>
</body>
</html>